@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.25rem;
}

header h1 {
  font-weight: 300;
  margin-left: 0.625rem;
}

.container {
  max-width: 31.25rem;
  margin: 1.875rem auto;
  padding: 1.25rem;
}

.edit-mode {
  color: #ccc;
}

/* Form & Input */
.form-input {
  width: 100%;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  outline: none;
}

.form-input-filter {
  margin-top: 1.25rem;
  width: 100%;
  font-size: 1.125rem;
  padding: 0.625rem;
  border: none;
  border-bottom: 0.0625rem solid #ccc;
  background: transparent;
  outline: none;
}

/* Buttons */
.btn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}

.btn:focus {
  background-color: #444;
}

.btn-link {
  font-size: 1rem;
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-clear {
  margin-top: 1.25rem;
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  color: #333;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}

.btn=clear:hover {
  background-color: #f1f1f1;
}

.text-red {
  color: red;
}

/* Item */
.items {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
}

.item li {
  display: flex;
  justify-content: space-between;
  width: 45%;
  border: .0625rem solid #ccc;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem;
  margin: 0 .3125rem;
  font=weight 700;
  cursor: pointer;
}

@media (max-width: 31.25rem) {
  .items li {
    width: 100%;
  }
}

