@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.25rem;
}

header h1 {
  font-weight: 300;
  margin-left: 0.625rem;
}

.container {
  max-width: 31.25rem;
  margin: 1.875rem auto;
  padding: 1.25rem;
}
